
/* Body */
body{
  background:#fff;
}

/* Fonts */
@font-face {
  font-family: 'Quicksand';
  src: url(../font/quicksand/quicksand.ttf)  format('truetype');
}
@font-face {
  font-family: 'Intro';
  src: url(../font/intro/intro.otf)  format('truetype');
}



.logo{
  width:50px;
  height:65px;
  position:relative;
  top:7.5px;
  float:left;
  margin-left:5%;
}
.logo img{
  width:100%;
  height:100%;
}

.code{
  width:600px;
  height:auto;
  margin:20px auto;
  padding:10px 20px;
  background:#222;
  border-left:10px solid #aaa;
  font-family: Consolas;
  font-size:16px;
  color:#fff;
}
.code span{
  color:#89A978;
}
.space{
  width:20px;
  height:1px;
  float:left;
}

footer{
  width:100%;
  height:50px;
  background:#222;
}
footer h1{
  font-family:Raleway;
  font-weight:normal;
  font-size:14px;
  color:#fff;
  margin-left:5%;
  line-height:50px;
}
